<html>
    <div id="footerCon">
        <div id="leftNav">
            <p style="color:white; font-size: 0.4em; padding-top:10px;">&copy 2016 matthammond.digital ALL RIGHTS RESERVED</p>
        </div>
        <div id="rightNav">
            <a href="mailto:contact@matthammond.digital"><img class="socailLogo" id="facebook" src="../../img/emailIconWhite.png"></a>
            <a href="https://github.com/Matthammond96"><img class="socailLogo" id="gitHub" src="../../img/gitHubLogo.png"></a>
            <a href="https://www.linkedin.com/pub/matt-hammond/bb/814/513"><img class="socailLogo" id="linkedIn" src="../../img/linkedinLogo.png"></a>
        </div>
    </div>
</html>