<div id="filter">
    <form id="filterButtons">
        <input type="radio" name="mediaType" value="" checked/> All
        <input type="radio" name="mediaType" value="app"/> App Development
        <input type="radio" name="mediaType" value="Infographic"/> Infographics
        <input type="radio" name="mediaType" value="animation"/> Motion Graphics
        <input type="radio" name="mediaType" value="web"/> Web Development
        <input type="radio" name="mediaType" value="other"/> Other
    </form>
</div>